<launch>
  <!-- Map Server -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen">
    <param name="map_file" value="/home/vboxuser/catkin_ws/src/floor_cleaner/maps/my_map.yaml" />
  </node>

  <!-- AMCL Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="use_map_topic" value="true" />
    <param name="odom_topic" value="odom" />
  </node>

  <!-- Move Base -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen" />

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find floor_cleaner)/config/rviz_config.rviz" />

  <!-- Publish Initial Pose -->
  <node pkg="floor_cleaner" type="publish_initial_pose.py" name="initial_pose_publisher" output="screen" />

  <!-- Gazebo Simulation -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
</launch>
